@{
    ViewBag.Title = "Početna stranica";
}
@*@section featured {
   <section class="featured" style="background-color:#D0CEE7">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            FADRUM - Fakultetska društvena mreža... Ovde moze da se napšie sta je fadrum i bla bla...
        </p>
    </div>
</section>
}*@
@*<h3>Novosti:</h3>
<ol class="round">
    <li>
        <h5>Novost 1</h5>
        Napisati nesto...
    </li>

    <li>
        <h5>Novost 2</h5>
        Napisati nesto...
    </li>

    <li>
        <h5>Novost 3</h5>
        Napisati nesto...
    </li>
</ol>*@
